:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --bg: hsl(108, 64%, 89%);
  --bg-header: hsl(302, 28%, 51%);
  --bg-product-container: hsl(52, 68%, 91%);
  --border-line: hsla(0, 0%, 0%, 0.2);
  --link-primary: hsla(199, 99%, 36%, 0.75);
  --link-primary-hover: hsl(24, 100%, 38%);
  --delivery-option-date: hsl(120, 100%, 23%);
  --delivery-option-price: hsl(0, 0%, 19%);
  --added: hsl(166, 91%, 26%);
  --return-to-home-link: hsl(189, 100%, 26%);

  --header-height: 3.75em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg);
}

h1,
h2,
h3,
p {
  line-height: 1.2;
  min-height: 1.2em;
   font-family: "Merienda", cursive;
}

img,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

input,
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Dancing Script", cursive;
}

.primary-btn {
  border: 2px solid var(--bg-header);
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
  background-color: var(--bg-header);
  color: var(--white);
  font-size: 1rem;
  border-radius: 1rem;
}

.link-primary {
  color: var(--link-primary);
  cursor: pointer;
}

.link-primary:hover {
  color: var(--link-primary-hover);
}

@media (min-width: 50em) {
  body {
    background-size: 10em, 10em;
  }
}

@media (min-width: 65em) {
  body {
    background-size: 12em, 12em;
  }
}
